<!DOCTYPE html>
<html lang="lang=zh-CN">
    <head>
        <meta charset="UTF-8">
        <title>免费资源</title>
    </head>
    <body>
        <!--注释-->
        <center><h1>TZY免费资源站</h1></center>
        <!--网页背景-->
	<div class="a">
		<!--外部框架背景-->
		<div class="a1">
			<!--内部框架背景-->
			<div class="a2">
				<!--主页导航-->
				<img src="../static/images/banner.jpg" />
				<ul>
					<li><a href="http://localhost:8000">首页</a></li>
					<li><a href="http://www.baidu.com">新疆简历</a></li>
					<li><a href="#">新疆美食</a></li>
					<li><a href="#">新建景点</a></li>
					<li><a href="#">新疆风俗</a></li>
					<li><a href="#">新建人物</a></li>
					<li><a href="#">新疆购物</a></li>
					<li><a href="#">新疆语言</a></li>
					<li><a href="#">新疆文化</a></li>
					<li><a href="#">雁过留声</a></li>
				</ul>
			</div>
        <div>容器标签，可以包含其它标签内容</div>
        <p>段落标签</p>
        <!--单标签-->
        <hr>
        <img src="images\beauty1.jpg" alt="图片加载失败">
        <br>
        <img src="" alt="">
        <!--带属性的标签-->
        <a href="http://www.baidu.com">baidu</a>
        <table border='1'>
            <thead>
            <tr>
            <th>技术参数</th>
            <th>单价②</th>
            <th>单项合价 （元） ③=①×②</th>
            <th>备注</th>
            </tr>
            </thead>
            <tbody>
            <tr>
            <td>学仪器设备产品一般质量要求》。 9、黑板滑轮：上轨采用减震消音双组吊轮，滑轮使用高精度轴承， 下轨采用双组滑块，保证滑动流畅、噪音小、前后定位精确不晃动、 滑动板前后晃动小于0.5mm，经久耐用。数目各4组，上下均匀安 装，推拉顺畅自如，无卡挤现象和尖锐的摩擦声，稳定性好。 10、限位档：黑板边框内部两侧安装滑动板限位档，防止活动黑板 开启时撞击立框。 11、易维护性：一体机上下配同色同质书写板，上下可根据一体机 尺寸进行微调，两侧用H型边框与固定板配合，可自由拆装。使一 体机不用拆整个黑板即可直接拆装维护，减少麻烦，延长使用寿命。 12、安全性：一把锁实现对滑动黑板的锁定，钥匙通用，方便实用。 13、安装：配装自制钢制安装件，规格95*50*60mm，隐形安装、 没有外露的挂接件，符合GB21027-2007《学生用品的安全通用要 求》。</td>
            <td></td>
            <td></td>
            <td></td>
            </tr>
            <tr>
            <td>14、包装：采用环保型材料，符合国家产品包装要求，单套或双套 纸箱独立包装，箱体印有制造商名称、LOGO标识、地址、服务热 线等信息。 角伍分（￥2880000.75元） 起30个日历日内交货、安装完毕并交付使用。</td>
            <td></td>
            <td></td>
            <td></td>
            </tr>
            </tbody>
        </table>
    </body>
</html>